.table {
    background: #F3F7FA;
    border: 1px solid #282c34;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10%;
}
.table tr > td {
    background: #FFFFFF;
    overflow: hidden;
}
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.pagination li a{
    padding: 0 10px;
    color: #282c34;
}
.active {
    font-size: 20px;
}
.bottomLine {
    display: flex;
    padding-bottom: 10%;
}
.bottomLine span {
    padding: 10px;
}
.topControl{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    height: 250px;
}
.addBtn {
    padding: 5px;
    height: 11%;
    width: 185px;
    align-self: center;
}
.filter {
    align-self: center;
}
.filter input {
    height: 10%;
    padding: 5px;
}
.filter button {
    padding: 5px;
}
.inputColumn {
    display: flex;
    flex-direction: column;
}
.inputColumn > input {
    padding: 5px;
    margin: 5px 0;
}
.buttonsRow {
    padding: 10px;
}
.buttonsRow > button {
    padding: 10px;
    margin: 0 5px;
}
.topRow {
    border: 1px solid #282c34;
    width: 100%;
}
.topRow td:hover {
    background: #a3F7fA;
    cursor: pointer;
}
.error {
    color: red;
}
.disabled {
    opacity: 0;
}